<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" content="#e73c7e" />
  <link rel="apple-touch-icon" href="icons/maskable192.png">
  <link rel="icon" type="image/png" href="icons/maskable192.png">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Pawon Tamasa</title>
</head>

<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header>
    <div class="nav-wrapper">
      <div class="grad-bar"></div>
      <nav class="navbar">
        <a href="index.html">
          <img src="./images/logo.png" alt="Company Logo" /></a>
        <div class="menu-toggle">
          <button class="bar" id="mobile-menu">&#9776;</button>
        </div>
        <ul class="nav no-search">
          <li class="nav-item"><a href="#/list">Home</a></li>
          <li class="nav-item">
            <a href="https://github.com/usmanwahyuhp/">About</a>
          </li>
          <li class="nav-item"><a href="#/favourite">Favorite</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="hero">
    <div class="hero__inner">
      <span class="material-icons hero-icon"> local_cafe </span>
      <h1 class="hero__title">Welcome!</h1>
      <p class="hero__tagline">To the best Restaurant Catalogue.</p>
    </div>
  </div>

  <main id="maincontent">
    <!-- <div class="main">
      <h1>Our Best Services</h1>
      <ul class="cards" id="cards"></ul>
    </div> -->
  </main>
  <footer>
    <div class="grad-bar"></div>
    <p>Copyright © 2020 - Pawon Tamasa ♡</p>
  </footer>
</body>

</html>